body {
    font-family: 'Courier New', Courier, monospace;
    margin: 0px;
    background-color: #09006B;
    color: white;
}

div.sticky {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    background-color: #040035;
    box-shadow:0px 10px 20px black;  
}

.section {
    margin: 20px;
    height: 800px;
}

#logo {
    width: 80px;
    height: 80px;
    vertical-align: middle;
    margin: 10px;
}

#menu {
    display:inline;
}

.thumbnail {
    font-size: 20px;
    margin: 20px;
}

.thumbnail-selected {
    color: #FF005C;
    font-weight: bold;
    font-size: 20px;
    margin: 20px;
}

.project {
    border-radius: 10px;
    margin: 20px;
    padding: 20px;
    width: 400px;
    background-color: #040035;
    box-shadow:10px 10px 20px black;  
}

#home {
    font-size: 30px;
}

#clients-container {
    display: flex;
    flex-direction: row;
    text-align: center;
}

.app-icon {
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 150px;
    height: 150px;
    border-radius: 20px;
}

/* Responsive layout - makes a one column layout instead of a two-column layout */
@media (max-width: 800px) {
    #clients-container {
      flex-direction: column;
    }
  }

a:link {
    color: yellow;
}